.header {
    background-color: var(--primary-white-color);
    border-bottom: 1px solid #ECECEC;
    
    @media  screen and (min-width: 480px){
        .container{
            display: flex;
        }}
        @media  screen and (min-width: 1200px){
            .container{
                flex-direction: column;
            }}
    }
 .menu{
    display: flex;
    align-items: center;
    width: 100%;
}
.menu-open{
    margin-left: auto;
    background-color:transparent;
    border: none;
    width: 40px;
    height: 40px;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    
    @media  screen and (min-width: 768px){
       display: none;}
       @media  screen and (min-width: 1200px){
        display: none;;}
}
.modal-menu-open{
    width: 100%;
    
    fill: #000000;
    transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.modal-menu-open:hover,
.modal-menu-open:focus {
    fill:var(--accent-color);
}

.mob-menu {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    top: 0;
    left: 0%;
    padding-top: 10px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 40px;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) ;

    &.is-hidden{
        transform: translateX(0%);
    }
    
}
.menu-close {
    display: block;
    margin-left: auto;
    background-color: transparent;
    border: none;
    padding: 0;
    margin-bottom: 2px;  
}

.mob-menu-nav-item {

margin-bottom: 25px;
@media  screen and (min-width: 420px){
    margin-bottom: 32px;}

}

.mob-menu-nav-link {
    font-weight: 500;
font-size: 28px;
line-height: 1.81;
letter-spacing: 0.02em;
color: #212121;
    text-decoration: none;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    @media  screen and (min-width: 420px){
    font-size: 40px;
    line-height: 1.18;}
}
.mob-menu-nav-link:hover,
.mob-menu-nav-link:focus{
    color:var(--accent-color);
}
.mob-menu-cont {
    margin-bottom: 64px;
}
.mob-menu-cont-item {
    margin-bottom: 32px;
}
.mob-menu-tel-link {
    font-weight: 500;
font-size: 24px;
line-height: 1.77;
letter-spacing: 0.02em;
color: #2196F3;
text-decoration: none;
@media  screen and (min-width: 420px){
    font-size: 34px;
line-height: 1.25;}
}
.mob-menu-post-link{
    font-weight: 500;
    font-size: 17px;
    line-height: 1.63;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    @media  screen and (min-width: 420px){
        font-size: 24px;
    line-height: 1.16;}
    
}
.mob-menu-soc {
    display: flex;
    gap: 10px;
}

.mob-menu-soc-link {
    font-weight: 500;
font-size: 10px;
line-height: 1.83;
letter-spacing: 0.02em;
color: #2196F3;
text-decoration: none;
@media  screen and (min-width: 457px){
   font-size: 18px;
line-height: 1.22;}
    
}
.i {
    margin-right: 10px;
    border: none;
    transform: rotate(90deg);
    color:rgba(33, 33, 33, 0.2)

}
