.header {
    background-color: var(--primary-white-color);
    border-bottom: 1px solid #ECECEC;
    @media  screen and (min-width: 480px){
        .container{
            display: flex;
        }}
        @media  screen and (min-width: 1200px){
            .container{
                flex-direction: column;
            }}
    }
 .menu{
    display: flex;
    align-items: center;
}
.menu-open{
    margin-left: auto;
    background-color:transparent;
    border: none;
    width: 40px;
    height: 40px;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    @media  screen and (min-width: 768px){
       display: none;}
       @media  screen and (min-width: 1200px){
        display: none;;}
}
.modal-menu-open{
    width: 100%;
    fill: #000000;
}